

.header p
{
    font-size: 25px;
    padding: 15px;
    margin: 0px;
    text-align: center;
}

@font-face
{
    font-weight: 400;
    font-style: normal;
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face
{
    font-weight: 600;
    font-style: normal;
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face
{
    font-weight: 600;
    font-style: italic;
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-SemiBoldItalic.ttf');
}

body
{
    line-height: 1.3;
    font-family: Montserrat, Avenir, sans-serif;
    margin: 0px;
}

.box
{
    color: white;
    display: inline-block;
    margin-left: 80px;
    margin-right: 80px;
    width: 200px;
    margin-bottom: 15px;
}

.box a
{
    display: block;
    text-align: center;
    margin: 15px 0px;
}

.box p
{
    display: block;
    font-size: 30px;
    padding: 0px;
    -webkit-transition-duration: 0.3s;
}

.box:hover p
{
    color: rgba(255, 255, 255, 0.8);
}

.other
{
    background-color: var(--siteColor);
    width: 100%;
    text-decoration: none;
    padding: 0px;
    text-align: center;
    margin: 0px;
}

.projectBox
{
    width: 400px;
    height: 340px;
    display: inline-block;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    overflow: hidden;
    background-color: black;
}

img
{
    border-radius: 20px;
    overflow: hidden;
}

.projectList
{
    padding-bottom: 30px;
    text-align: center;
}

.shadow
{
    box-shadow: 0px 0px 10px 2px rgb(200, 200, 200);
}

.content
{
    background-color: white;
    margin: 0px;
}

.projectTitle
{
    text-align: left;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-top: 5px;
    bottom: 2%;
    position: absolute;
    font-size: 25px;
    color: white;
    width: 90%;
    -webkit-transition-duration: 0.3s;
    font-weight: 600;
    font-style: normal;
    word-wrap: break-word;
    vertical-align: text-bottom;
}

.pdBlack
{
    color: black;
}

.pWhite
{
    background-color: white;
}

.projectDescription
{
    color: white;
    position: absolute;
    top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    color: rgba(255, 255, 255, 0.0);
    -webkit-transition-duration: 0.3s;
    font-size: 20px;
}

.filter
{
    width: 25%;
    height: 25%;
    transition-duration: 0.3s;
    border-radius: 500px;
    margin: 0px auto;
    position: absolute;
    top: 113px;
    left: 113px;
    display: none;
}

.projectBox:hover .filter
{
    background-color: rgba(255, 101, 0, 0.1);
    border-radius: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.projectBox:hover .projectDescription
{
    color: rgba(255, 255, 255, 1.0);
}

.projectBox:hover .pdblack
{
    color: rgba(0, 0, 0, 1.0);
}

.projectBox:hover img
{
    opacity: 0.6;
    //filter: blur(8px);
}

.projectBox img
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transition-duration: 0.3s;
    filter: blur(0px);
}

a
{
    text-decoration: none;
    color: white;
}

.title
{
    text-align: center;
    width: 100%;
    font-size: 35px;
}

.beginning
{
    width: 100%;
    height: 100%;
}

.beginning p
{
    text-align: center;
    font-size: 40px;
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
}

#svgCircle
{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -10;
    background: black;
}

circle
{
    fill: var(--siteColor);
}

.other
{
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 3px 10px 2px grey;
}

.projectBox:hover .projectTitle
{
    padding-left: 15px;
}

.footer
{
    width: 100%;
    background-color: var(--siteColor);
    height: 150px;
    position: relative;
}

.footer a
{
    font-size: 20px;
    color: white;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    display: block;
    -webkit-transition-duration: 0.3s;
}

.footer p
{
    font-size: 10px;
    position: absolute;
    color: white;
    bottom: 5px;
    text-align: center;
    width: 100%;
}

.footer img
{
    height: 120px;
    padding: 15px;
    position: absolute;
}

.footer a:hover
{
    margin-right: 10px;
}

.linkBox
{
    text-align: right;
    padding: 15px;
    height: 120px;
    position: absolute;
    right: 0px;
}

:root
{
    --siteColor: rgba(255, 101, 0, 1.0);
    //--siteColor: rgba(186, 0, 255, 1.0);
    //--siteColor: rgba(246, 195, 0, 1.0);
}

.cursed
{
    cursor: url('pictures/balloon/balloon.png'), auto;
}

.title p
{
    font-weight: 600;
    //color: var(--siteColor);
}
