body
{
    font-family: Avenir;
    color: var(--siteColor);
    margin: 0px;
    padding: 0px;
    margin-left: 180px;
    margin-right: 30px;
}

h1
{
    font-size: 50px;
    margin: 0px;
    margin-top: 20px;
    font-weight: 500;
    overflow-x: hidden;
    overflow-y: auto;
}

.resumeHeading
{
    font-size: 30px;
    font-weight: normal;
    color: var(--siteColor);
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.heading
{
    font-weight: bold;
    font-size: 20px;
    color: black;
    display: inline;
    list-style-type: none;
}

.heading a
{
    padding-bottom: 0px;
    margin-bottom: 0px;
    bottom: 0px;
}

.heading p
{
    padding-top: 0px;
    margin-top: 0px;
}

.links a
{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 20px;
    transition-duration: 0.4s;
    padding-bottom: 20px;
    text-align: center;
}

.links a:hover
{
    color: var(--siteColor);
}

p
{
    color: black;
    font-size: 20px;
    left: 170px;
    padding-top: 10px;
    font-weight: normal;
    word-wrap: normal;
}

img
{
    border-width: 1px;
    border-style: solid;
    border-color: var(--siteColor);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.imagelist
{
    text-decoration: none;
    padding: 0px;
    text-align: center;
}

.imagelist img
{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.bar
{
    white-space: nowrap;
    background-color: var(--siteColor);
    width: 150px;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
    margin-left: 0px;
}

.bar a
{
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    transition-duration: 0.4s;
    word-wrap: break-all;
    word-break: break-word;
    white-space: normal;
    z-index: 1;
}

.bar .selectedbar
{
    background-color: white;
    color: var(--siteColor);
}

.bar a:hover
{
    padding-left: 30px;
}

table
{
    margin: 0px;
    padding: 0px;
    table-layout: fixed;
    margin-right: 0px;
    display: block;
    text-align: left;
}

tr
{
    color: black;
    font-size: 20px;
    table-layout: fixed;
}

:root
{
    --siteColor: rgba(255, 101, 0, 1.0);
}
