body
{
    font-family: Avenir;
    color: rgb(255, 101, 0);
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
}

#title
{
    width: 100vw;
    height: 100vh;
}

#title h1
{
    margin: auto;
    padding-top: 40vh;
}

#svgCircle
{
    width: 100%;
    height: 100%;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -10;
}

circle
{
    fill: rgb(255, 101, 0);
}

#foreground
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.projectPanel
{
    position: relative;
    width: 25%;
    height: 25%;
    -webkit-transition-duration: 0.15s;
    background-color: white;
    color: black;
    margin: 30px;
    display: inline-block;

}

.projectPanel:hover p
{
    background-color: white;
    color: rgb(255, 101, 0);
}

.projectPanel p
{
    position: absolute;
    margin-top: 0px;
    margin-top: 85%;
    padding-top: 2%;
    padding-left: 3%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    background-color: rgb(255, 101, 0);
    color: white;
    transition-duration: 0.3s;
    text-decoration: none;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(255, 101, 0);
    height: 13%;
    width: 97%;
    vertical-align: middle;
    font-size: 1.5vw;

}

.projectPanel img
{
    width: 100%;
    height: 85%;
    padding: 0px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(255, 101, 0);
}

.panelList
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
}

.backImage
{
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -5;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    opacity: 0.0;
}

h1
{
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    color: black;
    text-align: center;
    font-weight: 500;
}

h2
{
    font-size: 40px;
    color: black;
    text-align: center;
    font-weight: 500;
}

.bar
{
    white-space: nowrap;
    background-color: rgb(255, 101, 0);
    width: 150px;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
    margin-left: 0px;
}

.bar a
{
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    transition-duration: 0.4s;
    word-wrap: break-all;
    word-break: break-word;
    white-space: normal;
    z-index: 1;
}

.bar .selectedbar
{
    background-color: white;
    color: rgb(255, 101, 0);
}

.bar a:hover
{
    padding-left: 30px;
}

p
{
    color: black;
    font-size: 20px;
    margin-left: 30px;
    padding-top: 10px;
    font-weight: normal;
    word-wrap: normal;
}

.bannerp
{
    margin-left: 0px;
}

.leftthing
{
    border-width: 1px 1px 1px 1px;
    border-color: rgb(255, 101, 0);
    border-style: solid;
    width: 68vw;
    height: 17vw;
    margin: auto;
    position: relative;
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-decoration: none;
    background-color: white;
}

.leftthing:hover h1
{
    padding-left: 2vw;
}

.leftthing img
{
    width: 20vw;
    height: 17vw;
    top: 0vw;
    left: 0vw;
    position: absolute;
    border-width: 0px 1px 0px 0px;
    border-color: rgb(255, 101, 0);
    border-style: solid;
}

.leftthing p
{
    position: absolute;
    top: 3vw;
    left: 20vw;
    padding-right: 1vw;
    padding-left: 1vw;
    margin: 0;
    text-align: left;
    font-size: 1.5vw;
    color: black;
}

.leftthing h1
{
    font-size: 2vw;
    color: rgb(255, 101, 0);
    position: absolute;
    top: 0vw;
    left: 20vw;
    margin: 0;
    padding-left: 1vw;
    padding-top: 1vw;
    transition-duration: 0.4s;
}

.rightthing
{
    border-width: 1px 1px 1px 1px;
    border-color: rgb(255, 101, 0);
    border-style: solid;
    width: 68vw;
    height: 17vw;
    position: relative;
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-decoration: none;
    background-color: white;
}

.rightthing img
{
    width: 20vw;
    height: 17vw;
    top: 0vw;
    right: 0vw;
    position: absolute;
    border-width: 0px 0px 0px 1px;
    border-color: rgb(255, 101, 0);
    border-style: solid;
}

.rightthing p
{
    position: absolute;
    top: 3vw;
    left: 0vw;
    padding-left: 1vw;
    padding-right: 21vw;
    margin: 0;
    text-align: right;
    font-size: 1.5vw;
    color: black;
}

.rightthing h1
{
    font-size: 2vw;
    color: rgb(255, 101, 0);
    position: absolute;
    top: 0vw;
    right: 20vw;
    text-align: right;
    margin: 0;
    padding-top: 1vw;
    padding-right: 1vw;
    transition-duration: 0.4s;
}

.rightthing:hover h1
{
    padding-right: 2vw;
}

.stickyBanner
{
    top: 0px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    background-color: white;
    border-width: 1px 0px 1px 0px;
    border-color: rgb(255, 101, 0);
    border-style: solid;
}

line
{
    stroke: rgb(255, 101, 0);
    stroke-width: 1px;
}
