

.header p
{
    font-size: 25px;
    padding: 15px;
    margin: 0px;
    text-align: center;
}

body
{
    font-family: Avenir;
    margin: 0px;
}

.box
{
    color: white;
    display: inline-block;
    margin-left: 80px;
    margin-right: 80px;
    width: 200px;
    margin-bottom: 15px;
}

.box a
{
    display: block;
    text-align: center;
    margin: 15px 0px;
}

.other
{
    background-color: var(--siteColor);
    width: 100%;
    text-decoration: none;
    padding: 0px;
    text-align: center;
    margin: 0px;
}

.projectBox
{
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--siteColor);
    display: inline-block;
    margin: 20px;
    position: relative;
    overflow: hidden;
    background-color: var(--siteColor):
}

.projectList
{
    padding-bottom: 30px;
    text-align: center;
}

.content
{
    background-color: white;
    margin: 0px;
}

.projectTitle
{
    text-align: left;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-top: 5px;
    top: 85%;
    position: absolute;
    font-size: 25px;
    color: white;
    background-color: var(--siteColor);
    width: 100%;
    height: 15%;
    -webkit-transition-duration: 0.3s;
}

.projectDescription
{
    color: white;
    position: absolute;
    top: 0px;
    left: 5px;
    text-align: left;
    color: rgba(255, 255, 255, 0.0);
    -webkit-transition-duration: 0.3s;
    font-size: 20px;
}

.filter
{
    width: 25%;
    height: 25%;
    transition-duration: 0.3s;
    border-radius: 500px;
    margin: 0px auto;
    position: absolute;
    top: 113px;
    left: 113px;
    display: none;
}

.projectBox:hover .filter
{
    background-color: rgba(255, 101, 0, 0.1);
    border-radius: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.projectBox:hover .projectDescription
{
    color: rgba(255, 255, 255, 1.0);
}

.projectBox:hover .pdblack
{
    color: rgba(0, 0, 0, 1.0);
}

.projectBox:hover img
{
    filter: blur(8px);
}

.projectBox img
{
    width: 100%;
    height: 85%;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transition-duration: 0.3s;
    filter: blur(0px);
}

a
{
    text-decoration: none;
    color: white;
}

.box p
{
    display: block;
    font-size: 30px;
    padding: 0px;
}

.title
{
    text-align: center;
    width: 100%;
    font-size: 35px;
}

.beginning
{
    width: 100%;
    height: 100%;
}

.beginning p
{
    text-align: center;
    font-size: 40px;
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
}

#svgCircle
{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -10;
    background: black;
}

circle
{
    fill: var(--siteColor);
}

.other
{
    margin: 0px;
    padding: 0px;
}

.projectBox:hover .projectTitle
{
    padding-left: 15px;
}

.footer
{
    width: 100%;
    background-color: var(--siteColor);
    height: 150px;
    position: relative;
}

.footer a
{
    font-size: 20px;
    color: white;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    display: block;
    -webkit-transition-duration: 0.3s;
}

.footer p
{
    font-size: 10px;
    position: absolute;
    color: white;
    bottom: 5px;
    text-align: center;
    width: 100%;
}

.footer img
{
    height: 120px;
    padding: 15px;
    position: absolute;
}

.footer a:hover
{
    margin-right: 10px;
}

.links
{
    text-align: right;
    padding: 15px;
    height: 120px;
    position: absolute;
    right: 0px;
}

:root
{
    --siteColor: rgba(255, 101, 0, 1.0);
}

.cursed
{
    cursor: url('pictures/balloon/balloon.png'), auto;
}
