canvas
{
	//box-shadow: none;
	margin: 0px: 
	//display: inline;
}

.graph
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.graph canvas
{
	border-radius: 20px;
}

.graph p
{
	font-size: 12px;
}

label
{
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	display: inline;
	color: var(--blackColor);
}

button
{
	font-size: 12px;
	font-family: 'Montserrat';
}