.graphContainer
{
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	text-align: center;
	padding-top: 50px;
}

.graphContainer p
{
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.graphContainer canvas
{
	border-radius: 20px;
	width: 478px;
	text-align: center;
	box-shadow: 0px 0px 10px var(--lightGrayColor);
}

.graphContainer label
{
	margin: 0px;
	padding: 0px;
	display: block;
	color: var(--blackColor);
	margin-left: 30px;
	padding-right: 10px;
}

input[type=radio]
{
	float: left;
	//transform: translateY(1px);
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

input[type=checkbox]
{
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

button
{
	font-family: 'Montserrat';
}

button
{
    width: initial;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    transition-duration: 0.4s;
    border: 1px solid red;
    margin-right: auto;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 0px 10px var(--grayColor);
    cursor: pointer;
}

button:hover
{
    color: red;
    background-color: white;
}

button:active
{
	transition-duration: 0.0s;
	background-color: rgb(255, 245, 245);
}

.graphContainer input
{
	font-size: 20px;
}

.graphCheck
{
	//width: 20px;
	//height: 20px;
	//margin-right: 5px;
}

.graph
{
	padding-bottom: 50px;
	//padding-left: 20px;
	padding-right: 20px;
	display: inline-block; 
}

.graphControls
{
	padding-bottom: 50px;
	padding-left: 20px;
	//padding-right: 20px;
	display: inline-block; 
	width: 477px; 
	text-align: left; 
	vertical-align: top;

}

.graphControls .slider
{
	width: 100%;
}

@media only screen and (max-width: 1060px)
{
    .graphControls
    {
		padding-left: 0px;
		padding-right: 0px;
		width: 500px;
    }

    .graph
    {
		padding-left: 0px;
		padding-right: 0px;
    }

    .graphContainer canvas
    {
    	width: 500px;
    }
}

li
{
	color: var(--blackColor);
	font-size: 20px
}

.learnMore
{
	width: 500px;
	padding: 0px;
	background-color: var(--lightSiteColor);
	box-shadow: 0px 0px 10px var(--lightGrayColor);
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.content .learnMoreTitle
{
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	font-size: 25px;
	padding-left: 20px;
}

.content .learnMoreLinks
{
	width: 400px;
	padding-left: 50px;
}

.blogLink
{
	height: 150px;
}

.blogLinkImage
{
	height: 150px;
}








