.sectionHeader
{
	margin-bottom: 0px;
	border-bottom: 1px solid var(--siteColor);
}

.sectionIntro
{
	margin-top: 0px;

}

.content
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1060px)
{
    .content
    {
        width: initial;
        margin-left: 30px;
        margin-right: 30px;
    }
}

.blogLink
{
	width: 500px;
	background-color: var(--lightSiteColor);
	box-shadow: 0px 0px 10px var(--lightGrayColor);
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	height: 100px;
}

.blogLink a
{
	text-decoration: none;
}

.blogLinkImage
{
	width: 100px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	text-align: center;
	display: inline-block;
}

.blogLinkImage p
{
	font-size: 30px;
	padding: 0px;
	vertical-align: center;
}

.blogLinkImage img
{
	height: 100px;
	width: 100px;
	margin: 0px;
	padding: 0px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: none;
	display: block;
	border: none;
}

.blogLinkDescription
{
	width: 390px;
	height: 100%;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}

.blogLinkDescription p
{
	//display: inline-block;
	margin-top: -10px;
}

.blogLinkTitle
{
	margin: 0px;
	padding: 0px;
}

.blogLinkTitle p
{
	font-weight: bold;
	padding: 0px;
	margin-top: 3px;
	padding-left: 10px;
	margin-bottom: 0px;
	transition-duration: 0.2s;
}

.blogLink p
{

}

.blogLinkCaption
{

}

.blogLinkCaption p
{
	padding-top: 0px;
	margin-top: 0px;
	padding-left: 10px;
}

.blogLink:hover .blogLinkTitle p
{
	padding-left: 20px;
}



.learnMore
{
	width: 500px;
	padding: 0px;
	background-color: var(--lightSiteColor);
	box-shadow: 0px 0px 10px var(--lightGrayColor);
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.content .learnMoreTitle
{
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	font-size: 25px;
	padding-left: 20px;
}

.content .learnMoreLinks
{
	width: 400px;
	padding-left: 50px;
}








